#ignore final compiled executable
SBC
SBC.exe

#ignore kosmonaut library
libkosmonaut.a

#ignore object files
obj/kosmonaut/*.o

#ignore debug files
gmon.out
log.out

#ignore windows folder
windows
*.dll